.navbar {
  position: fixed;            /* stick to top of page */
  top: 0;
  left: 0;
  width: 100%;                /* full width */
  height: 10%;                /* set navbar height */
  display: flex;              /* flexbox for layout */
  justify-content: space-around; /* equal spacing between items */
  align-items: center;        /* vertical align */
  padding: 16px;              /* inner spacing */
  background-color: #ffffff;  /* default background */
  box-shadow: 0 1px 20px -2px rgba(0, 0, 0, 0.3); /* subtle shadow */
  z-index: 1000;              /* stay above content */
}


.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 30px;
    color: #626262;
    font-weight: 600;

}
.nav-menu li{
    cursor: pointer;

}

.nav-menu hr {
   border: 10;
   width: 80%;
   height: 3px;
   border-radius: 10px;
   background: red;
}

.nav-menu li a {
  text-decoration: none;   
  color: inherit;          

}

.nav-menu li a:hover{
    color: black;
}

.nav-logo-cart{
   display: flex;
   align-items: center;
   gap: 45px; 
}
.nav-logo-cart button{
    border: 1px solid black;
    border-radius: 70px;
    font-size: 20px;
     font-weight: 500;
    color: #626262;
    background-color: white;
    cursor: pointer;
   

}
.nav-logo-cart button:active{
    background: wheat;
}

.nav-cart-container {
  position: relative; /* make cart container relative */
  display: inline-block;
}

.nav-cart-count {
  position: absolute;
  top: -8px;   /* adjust to move above */
  right: -8px; /* adjust to move to the corner */
  min-width: 20px;
  height: 20px;
  padding: 0 5px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
